<nav class="navbar navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="https://www.sky.com/" target="_blank">
				<img id="logo" alt="Sky Logo" src="images/logo.png">
			</a>
		</div>
		<h4 id="header-text">Bill generated on <%= @bill.statement.generated %></h4>
	</div>
</nav>
<hr>