<table class="table table-hover">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @bill.package.subscriptions.each do |elem| %>
    <tr>
      <td><%= elem.type.capitalize %></td>
      <td><%= elem.name %></td>
      <td><%= format_cost(elem.cost) %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr class="total">
      <td><h4>Total:</h4></td>
      <td></td>
      <td><h4><strong>£<%= format_cost(@bill.package.total) %></strong></h4></td>
    </tr>
  </tfoot>
</table>