<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="images/favicon.ico" rel="icon" type="image/x-icon"/>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <title>Sky Bill by omajul85</title>
</head>
<body class='container'>
  <nav class="navbar navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img id="logo" alt="Brand" src="images/logo.png"></a>
      </div>
      <div class="nav navbar-nav navbar-right">
        <h3>Bill generated on <%= @bill.statement.generated %></h3>
      </div>
    </div>
  </nav>
  <hr>
  
  <div id="content" class="container-fluid text-center">
    <div class="jumbotron">
      <h2>Total Due <strong>£<%= @bill.total %></strong></h2>
      <h5>From <%= @bill.statement.period.from %> to <%= @bill.statement.period.to %></h5>
    </div>
    
    <button class="accordion active">My subscriptions</button>
    <div class="panel show">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <button id="charges" class="accordion">Call charges</button>
    <div class="panel">
      <p>List of calls here</p>
    </div>

    <button class="accordion active">Sky store</button>
    <div id="foo" class="panel show">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>

  <footer class="container-fluid text-center">
    <p>Bill unattended test by <a href="https://github.com/omajul85/sky-bill" target="_blank">Omar Alvarez</a></p>
  </footer>
  
  <script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
      acc[i].onclick = function(){
          this.classList.toggle("active");
          this.nextElementSibling.classList.toggle("show");
    }
  }
  </script>
</body>
</html>